

.section{
    background: #dadada;
    color: black;
    width: 100%;
    border: none;
    font-size: 2.7vw;
    padding: 2vw;
    text-align: start;
    margin: 1vw 0;
}

.content{
    display: none;
    padding: 2vw;
    background-color: beige;
    transition: 0.6s;
}

.content p{
    font-size: 1.4vw;
    transition: all ease 1s;
}